<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.yukon.upms.provider.dao.DictDOMapper">
    <resultMap id="BaseResultMap" type="com.lyl.yukon.common.entity.upms.DictDO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="dict_key" jdbcType="VARCHAR" property="dictKey"/>
        <result column="value" jdbcType="VARCHAR" property="dictValue"/>
        <result column="dict_type" jdbcType="VARCHAR" property="dictType"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_id" jdbcType="VARCHAR" property="updateId"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, dict_key, dict_value, dict_type, description, create_id, create_date, update_id, update_date,
    remarks, del_flag
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from upms_dict
        where id = #{id,jdbcType=VARCHAR} and del_flag = '0'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from upms_dict
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.lyl.yukon.common.entity.upms.DictDO">
    insert into upms_dict (id, dict_key, dict_value,
      dict_type, description, create_id, 
      create_date, update_id, update_date, 
      remarks, del_flag)
    values (#{id,jdbcType=VARCHAR}, #{dictKey,jdbcType=VARCHAR}, #{dictValue,jdbcType=VARCHAR},
      #{dictType,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.lyl.yukon.common.entity.upms.DictDO">
        insert into upms_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dictKey != null">
                dict_key,
            </if>
            <if test="value != null">
                dict_value,
            </if>
            <if test="dictType != null">
                dict_type,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="dictKey != null">
                #{dictKey,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{dictValue,jdbcType=VARCHAR},
            </if>
            <if test="dictType != null">
                #{dictType,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lyl.yukon.common.entity.upms.DictDO">
        update upms_dict
        <set>
            <if test="dictKey != null">
                dict_key = #{dictKey,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                dict_value = #{dictValue,jdbcType=VARCHAR},
            </if>
            <if test="dictType != null">
                dict_type = #{dictType,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lyl.yukon.common.entity.upms.DictDO">
    update upms_dict
    set dict_key = #{dictKey,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      dict_type = #{dictType,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <!-- 自定义语句开始 -->
    <select id="selectPage" resultType="com.lyl.yukon.common.entity.upms.DictDO">
        select
        <include refid="Base_Column_List"/>
        from upms_dict
        where del_flag = '0'
        <if test="dictType!=null and dictType!=''">
            and dict_type = #{dictType}
        </if>
        order by update_date
    </select>
    <select id="checkDictKey" resultType="com.lyl.yukon.common.entity.upms.DictDO">
        select
        <include refid="Base_Column_List"/>
        from upms_dict
        <where>
            dict_key = #{dictKey} and del_flag = '0'
            <if test="id!=null and id!=''">
                and id != #{id}
            </if>
        </where>
    </select>
    <select id="checkDictValue" resultType="com.lyl.yukon.common.entity.upms.DictDO">
        select
        <include refid="Base_Column_List"/>
        from upms_dict
        <where>
            dict_value = #{dictValue} and del_flag = '0'
            <if test="id!=null and id!=''">
                and id != #{id}
            </if>
        </where>
    </select>
    <!-- 自定义语句结束 -->
</mapper>