<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.yukon.upms.provider.dao.RoleDOMapper">
    <resultMap id="BaseResultMap" type="com.lyl.yukon.common.entity.upms.RoleDO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_type" jdbcType="CHAR" property="roleType"/>
        <result column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="valid_flag" jdbcType="CHAR" property="validFlag"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_id" jdbcType="VARCHAR" property="updateId"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, role_name, role_type, org_id, valid_flag, description, create_id, create_date, update_id,
    update_date, remarks, del_flag
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from upms_role
        where id = #{id,jdbcType=VARCHAR} and del_flag = '0'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from upms_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.lyl.yukon.common.entity.upms.RoleDO">
    insert into upms_role (id, role_name,
      role_type, org_id, valid_flag, description, create_id,
      create_date, update_id, update_date, 
      remarks, del_flag)
    values (#{id,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR},
      #{roleType,jdbcType=CHAR}, #{orgId,jdbcType=VARCHAR}, #{validFlag,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.lyl.yukon.common.entity.upms.RoleDO">
        insert into upms_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="roleType != null">
                role_type,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="validFlag != null">
                valid_flag,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleType != null">
                #{roleType,jdbcType=CHAR},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="validFlag != null">
                #{validFlag,jdbcType=CHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lyl.yukon.common.entity.upms.RoleDO">
        update upms_role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleType != null">
                role_type = #{roleType,jdbcType=CHAR},
            </if>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="validFlag != null">
                valid_flag = #{validFlag,jdbcType=CHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lyl.yukon.common.entity.upms.RoleDO">
    update upms_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=CHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      valid_flag = #{validFlag,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!-- 自定义语句开始 -->
    <sql id="Base_Column_List_R">
    r.id, r.role_name, r.role_type, r.org_id, r.valid_flag, r.description, r.create_id, r.create_date, r.update_id,
    r.update_date, r.remarks, r.del_flag
  </sql>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from upms_role where del_flag = '0' and org_id = #{orgId}
        <if test="validFlag != null">
            and valid_flag = #{validFlag,jdbcType=CHAR}
        </if>
        order by update_date desc
    </select>
    <select id="checkRoleName" resultType="com.lyl.yukon.common.entity.upms.RoleDO">
        select
        <include refid="Base_Column_List"/>
        from upms_role
        <where>
            role_name = #{roleName} and org_id = #{orgId} and del_flag = '0'
            <if test="roleId!=null and roleId!=''">
                and id != #{roleId}
            </if>
        </where>
    </select>
    <select id="selectByUserIdAndOrgId" resultType="com.lyl.yukon.common.entity.upms.RoleDO">
        select
        <include refid="Base_Column_List_R"/>
        from upms_role as r
        inner join upms_user_role_relation as urr on r.id = urr.role_id and urr.user_id = #{userId} and urr.del_flag =
        '0'
        <where>
            r.del_flag = '0'
            and (r.org_id = #{orgId} or r.org_id = '')
        </where>
    </select>
    <select id="selectBriefInfoByOrgId" resultType="com.lyl.yukon.upms.api.dto.RoleBriefDTO">
        select
        <include refid="Base_Column_List"/>
        from upms_role where del_flag = '0'
        and org_id = #{orgId}
    </select>


    <!-- 自定义语句结束 -->

</mapper>