<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.yukon.upms.provider.dao.StreetDOMapper">
    <resultMap id="BaseResultMap" type="com.lyl.yukon.common.entity.upms.StreetDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="street_code" jdbcType="VARCHAR" property="streetCode"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="street_name" jdbcType="VARCHAR" property="streetName"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, street_code, area_code, street_name, short_name, longitude, latitude, sort, remarks
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from upms_street
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from upms_street
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.lyl.yukon.common.entity.upms.StreetDO">
    insert into upms_street (id, street_code, area_code, 
      street_name, short_name, longitude, 
      latitude, sort, remarks
      )
    values (#{id,jdbcType=INTEGER}, #{streetCode,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{streetName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.lyl.yukon.common.entity.upms.StreetDO">
        insert into upms_street
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="streetCode != null">
                street_code,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="streetName != null">
                street_name,
            </if>
            <if test="shortName != null">
                short_name,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="streetCode != null">
                #{streetCode,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="streetName != null">
                #{streetName,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null">
                #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lyl.yukon.common.entity.upms.StreetDO">
        update upms_street
        <set>
            <if test="streetCode != null">
                street_code = #{streetCode,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="streetName != null">
                street_name = #{streetName,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null">
                short_name = #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lyl.yukon.common.entity.upms.StreetDO">
    update upms_street
    set street_code = #{streetCode,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      street_name = #{streetName,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 自定义语句开始 -->
    <select id="selectByAreaCode" resultType="com.lyl.yukon.common.entity.upms.StreetDO">
        select
        <include refid="Base_Column_List"/>
        from upms_street
        where area_code = #{areaCode}
        order by sort
    </select>


    <!-- 自定义语句结束 -->
</mapper>